<h2>Macs details</h2>
<div>
  <p><strong>name: </strong>{{mac.name}}</p>
  <p><strong>type: </strong>{{mac.type}}</p>
  <p><strong>inch: </strong>{{mac.inch}}</p>
  <p><strong>year: </strong>{{mac.year}}</p>
</div>